* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #36454f;
    background: #5f67a0;
}
.container{
    width: 14rem;
    height: 14rem;
    margin: 6rem auto;
    border-radius: 50%;
    border:.5rem solid black;
    padding: 1rem;
}

.clock{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.clock__hand{
    width: 50%;
    height: .2rem;
    top:50%;
    background: yellowgreen;
    transform-origin: 100%;
    position: absolute;
    transform: rotate(90deg);
}

.clock__seconds{
    background: white;
}